<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>
<body>

    <h1 class="text-center mt-5 mb-5 text-primary">PILOTOS F1</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/pilotos" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="nombre">
                        </div>
                        <div class="col">
                            <label>Edad</label>
                            <input type="text" class="form-control mb-3" name="edad">
                        </div>
                        <div class="col">
                            <label>NumeroPiloto</label>
                            <input type="text" class="form-control mb-3" name="numPiloto">
                        </div>
                        <div class="col">
                            <label>Escuderia</label>
                            <input type="text" class="form-control mb-3" name="escuderia">
                        </div>
                        <div class="col">
                            <label>Victorias</label>
                            <input type="text" class="form-control mb-3" name="victorias">
                        </div>
                        <div class="col">
                            <label>Podios</label>
                            <input type="text" class="form-control mb-3" name="podios">
                        </div>
                        <div class="col">
                            <label>Puntos</label>
                            <input type="text" class="form-control mb-3" name="puntos">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
                        </div>
                    </div>

                </form>


                <!-- Tabla -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                    
                            <th scope="col">Nombre</th>
                            <th scope="col">Edad</th>
                            <th scope="col">NumeroPiloto</th>
                            <th scope="col">Escuderia</th>
                            <th scope="col">Victorias</th>
                            <th scope="col">Podios</th>
                            <th scope="col">Puntos</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{d.nombre}}</td>
                            <td>{{d.edad}}</td>
                            <td>{{d.numPiloto}}</td>
                            <td>{{d.escuderia}}</td>
                             <td>{{d.victorias}}</td>
                              <td>{{d.podios}}</td>
                               <td>{{d.puntos}}</td>
                            <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.nombre}}" data-bs-toggle="modal" data-bs-target="#modal{{d.nombre}}">Edit</button></td>
                            <td><a href="{{url_for('delete', nombre=d.nombre)}}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>

                        <!-- modal -->

                        <div class="modal fade" id="modal{{d.nombre}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.nombre}}</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/edit/{{nombre}}" method="POST">
                        
                                        <label>Edad</label>
                                        <input type="text" class="form-control mb-3" name="edad" value="{{d.edad}}">
                                        <label>Numero Piloto</label>
                                        <input type="text" class="form-control mb-3" name="numPiloto" value="{{d.numPiloto}}">
                                        <label>Escuderia</label>
                                        <input type="text" class="form-control mb-3" name="escuderia" value="{{d.escuderia}}">
                                        <label>Victorias</label>
                                        <input type="text" class="form-control mb-3" name="victorias" value="{{d.victorias}}">
                                        <label>Podios</label>
                                        <input type="text" class="form-control mb-3" name="podios" value="{{d.podios}}">
                                        <label>Puntos</label>
                                        <input type="text" class="form-control mb-3" name="puntos" value="{{d.puntos}}">
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>




                    {% endfor %}

                </tbody>

            </table>


            </div>
        </div>
    </div>
    
</body>
</html>